<ul class="nav navbar-nav">
    <li class="dropdown dropdown-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-menu-large row">
            <li class="col-sm-3">
                <ul>
                    <li class="dropdown-header"><a href="#">Elektronik</a></a></li>
                    <li class="menu-child-item"><a href="#">Elektronik #1</a></li>
                    <li class="menu-child-item"><a href="#">Elektronik #2</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header"><a href="#">Pakaian</a></li>
                    <li class="menu-child-item"><a href="#">Pakaian #1</a></li>
                    <li class="menu-child-item"><a href="#">Pakaian #2</a></li>
                    <li class="menu-child-item"><a href="#">Pakaian #3</a></li>
                    <li class="menu-child-item"><a href="#">Pakaian #4</a></li>
                </ul>
            </li>
            <li class="col-sm-3">
                <ul>
                    <li class="dropdown-header"><a href="#">Rumah Tangga</a></li>
                    <li class="menu-child-item"><a href="#">Rumah Tangga #1</a></li>
                    <li class="menu-child-item"><a href="#">Rumah Tangga #2</a></li>
                    <li class="menu-child-item"><a href="#">Rumah Tangga #3</a></li>
                    <li class="menu-child-item"><a href="#">Rumah Tangga #4</a></li>
                    <li class="menu-child-item"><a href="#">Rumah Tangga #5</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header"><a href="#">Kecantikan</a></li>
                    <li class="menu-child-item"><a href="#">Kecantikan #1</a></li>
                </ul>
            </li>
            <li class="col-sm-3">
                <ul>
                    <li class="dropdown-header"><a href="#">Kerajinan</a></li>
                    <li class="menu-child-item"><a href="#">Kerajinan #1</a></li>
                    <li class="menu-child-item"><a href="#">Kerajinan #2</a></li>
                    <li class="menu-child-item"><a href="#">Kerajinan #3</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header"><a href="#">Perhiasan</a></li>
                    <li class="menu-child-item"><a href="#">Perhiasan #1</a></li>
                    <li class="menu-child-item"><a href="#">Perhiasan #2</a></li>
                    <li class="menu-child-item"><a href="#">Perhiasan #3</a></li>
                </ul>
            </li>
            <li class="col-sm-3">
                <ul>
                    <li class="dropdown-header"><a href="#">Hiburan</a></li>
                    <li class="menu-child-item"><a href="#">Hiburan #1</a></li>
                    <li class="menu-child-item"><a href="#">Hiburan #2</a></li>
                    <li class="menu-child-item"><a href="#">Hiburan #3</a></li>
                    <li class="menu-child-item"><a href="#">Hiburan #4</a></li>
                    <li class="menu-child-item"><a href="#">Hiburan #5</a></li>
                    <li class="menu-child-item"><a href="#">Hiburan #6</a></li>
                    <li class="menu-child-item"><a href="#">Hiburan #7</a></li>
                    <li class="menu-child-item"><a href="#">Hiburan #8</a></li>
                    <li class="menu-child-item"><a href="#">Hiburan #9</a></li>
                </ul>
            </li>
        </ul></li>
    <li role="presentation"><a href="#">Bantuan </a></li>
</ul>