{% extends '@layout/default.html.twig' %}

{% block title %}Congratulations!{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h2>Congratulations.</h2>
        <div class="alert-success"><p>Now, You already registered. But you can't logged in right now. Please check your email to confirm this submission.</p></div>
    </div>
{% endblock %}